.botao {
    margin-top: 15px;
    width: 167px;
    background-color: #6278F7;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 28px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(63, 80, 176);
}