.formulario {
    margin: 85px 20%;
    background-color: #F6F6F6;
    padding: 40px 6%;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px #00000014;
}

.formulario h2 {
    font-size: 26px;
    margin: 0 0 50px 0;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}