.time {
    text-align: center;
    padding: 8px;
}

.time h3 {
    font-size: 32px;
}

.time h3::after {
  content: '';
  background-color: black;
  width: 100px;
  height: 7px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
}