.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.campo-texto input, .campo-texto select {
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 22px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline-style: none;
}

input::placeholder {
    color: #A4A4A4;
}